GITHUB_OAUTH_CLIENT_ID = 'YOUR_CLIENT_ID'
GITHUB_OAUTH_CLIENT_SECRET = 'YOUR_CLIENT_SECRET'

GITHUB_APP_ID = "11111"
GITHUB_APP_INSTALLATION_ID = "111111"
GITHUB_APP_PRIVATE_FILE_PATH = "algosolved.private-key.der"
